{% extends 'base.html' %}
{% block content %}
<h1>Following</h1>


<style>
  .namelink a {
    text-decoration: none;
    color: white;
    font-family:Verdana;
  }
  .namelink a:hover {
  color: #7752E7;
  cursor: pointer;
}
</style>


<h3>{{msg}}</h3>
<div class="namelink">
  <table border = "1" class="centered-table">  <!-- create table of usenames -->
    {% for row in rows %}
    <tr>
      {% if row["usersend"] == username %} <!-- if the user that is logged in is viewing their own list they have permissions to edit-->
        <td><a href ='/removefollowing?id={{row["userreceive"]}}'>{{row["userreceive"]}}</a></td>
      {% else %}
        {% if row["userreceive"] == username %} <!-- if you are viewing someone elses following list, you don't have permissions to change so just view account -->
          <td><a href ='/account'>{{row["userreceive"]}}</a></td> <!-- but if the user is you, redirect to the "your account page"-->
        {% else %}
          <td><a href ='/viewaccount?id={{row["userreceive"]}}'>{{row["userreceive"]}}</a></td>
        {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}