{% extends 'base.html' %}
{% block content %}
<h1>Welcome to GeoSnaps</h1>

<h2>This is my (Toby Swale's) A-Level Computer Science project</h2>
<h3>A few tips before you use the site:</h3>
<h4>• Do not use any of your regular passwords</h4>
<h4>(if it's too late you can change it in "Account Settings")</h4>
<h4>• This site will be easiest to use on a desktop computer</h4>
<h4>• This site is hosted by my school, so I'll let you decide what content is appropriate</h4>
<br>
<br>
<h3>If there are any errors, issues, or if you have any recommendations, please let me know at swalet133@kesbath.com</h3>
<h2>Thanks!</h2>

<h5 style="color: transparent;">-- / ... -.. - / .-.. ... --. / -. / -..- -- .- .</h5>


{% endblock %}