{% extends 'base.html' %}
{% block content %}

<h1>Welcome to GeoSnaps</h1>
<style>
  .container {
      width: 50%;
      margin: 0 auto;
      padding: 20px;
      text-align: left;
    }
</style>
<div class="container">
<h2>This is my (Toby Swale's) A-Level Computer Science project</h2>
<h3>A few tips before you use the site:</h3>
<h4>• Do not use any of your regular passwords</h4>
<h4>(if it's too late you can change it in "Account Settings")</h4>
<h4>• This site will be easiest to use on a desktop computer</h4>
<h4>• This site is hosted by my school, so I'll let you decide what content is appropriate</h4>
<br>
<br>
<h3>If there are any errors, issues, or if you have any recommendations, please fill out this form<a href="https://forms.office.com/e/x8vFHcn8BW">https://forms.office.com/e/x8vFHcn8BW</a></h3>
<h2>Thanks!</h2>
</div>
<h4>More information on how to use the site:</h4><br>
<a href="/helppage" class="linkbutton">Help</a>
<h5 style="color: transparent;">-- / ... -.. - / .-.. ... --. / -. / -..- -- .- .</h5>


{% endblock %}