{% extends 'base.html' %}
{% block content %}
<h1>Home Page</h1>
<h4>Create an account</h4>


<style>
    #div1,
    #div2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .criteria-image {
      display: block;
      margin-bottom: 5px;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
    input {
      margin-bottom: -30px;
    }
     .criteria-group {
       display: flex;
       align-items: center;
       margin-bottom: -30px; /*
    }

    .criteria-group h5 {
       margin-left: 10px;
    }

    .input-group {
       margin-left: 10px;
       align-items: left;
    }


</style>

<form method="POST">
      <div id="div1">
          <div class = "input-group">
              <p><input type="text" name="username" id="username" value="{{username}}" placeholder="Username" onkeyup="searchusernames()">
              <div class="criteria-group">
                <img id="unique" src="{{ url_for('static', filename='ticks_crosses/1024px-Cross_red_circle.svg.png') }}" alt="Image" class="criteria-image">
                <h5>Unique</h5>
              </div>
              <div class="criteria-group">
                <img id="length" src="{{ url_for('static', filename='ticks_crosses/1024px-Cross_red_circle.svg.png') }}" alt="Image" class="criteria-image">
                <h5>Length is between 3 and 15 characters</h5>
              </div>
              <div class="criteria-group">
                <img id="space" src="{{ url_for('static', filename='ticks_crosses/1024px-Cross_red_circle.svg.png') }}" alt="Image" class="criteria-image">
                <h5>No Spaces</h5>
              </div>
          </div>
      </p></div>

      <div id="div2">
        <div class = "input-group">
            <p><input name="password" id="password" type="password" value="{{password}}" placeholder="Password" onkeyup="searchpasswords()">
            <div class="criteria-group">
                <img id="plength" src="{{ url_for('static', filename='ticks_crosses/1024px-Cross_red_circle.svg.png') }}" alt="Image" class="criteria-image">
                <h5>Length is greater than 8 characters</h5>
            </div>


             <div class="criteria-group">
                 <img id="symb" src="{{ url_for('static', filename='ticks_crosses/1024px-Cross_red_circle.svg.png') }}" alt="Image" class="criteria-image">
                 <h5>Symbol (!, *, %, @, $, &)</h5>
             </div>

             <div class="criteria-group">
                <img id="digit" src="{{ url_for('static', filename='ticks_crosses/1024px-Cross_red_circle.svg.png') }}" alt="Image" class="criteria-image">
                <h5>Digit</h5>
             </div>

            <div class="criteria-group">
                <img id="lower" src="{{ url_for('static', filename='ticks_crosses/1024px-Cross_red_circle.svg.png') }}" alt="Image" class="criteria-image">
                <h5>Lowercase letter</h5>
            </div>

            <div class="criteria-group">
                <img id="upper" src="{{ url_for('static', filename='ticks_crosses/1024px-Cross_red_circle.svg.png') }}" alt="Image" class="criteria-image">
                <h5>Uppercase letter</h5>
            </div>
        </div>
     </p></div>



      <p><input type="submit" value="Create"></p>
    <h4 style="color: red;">{{msg}}</h4>
    <h4 style="color: red;">{{usermsg}}</h4>
    </form>
<br>
{% endblock %}