{% extends 'base.html' %}
{% block content %}

<head>
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrLn37j2Aln7yh58GPY2AuQIDU3poAgrg&callback=console.debug&libraries=maps,marker&v=beta">
</script>
</head>

<h1>Saved Posts</h1>
<h3>{{msg}}</h3> <!-- message to show if nothing saved-->
 <div class="image-grid">
  {% for row in rows %}
  <div class="image-item">
    <div class="image-title">
        {% if row["user"] != username %} <!-- if your post, redirect to "account"-->
            <a href="/viewaccount?id={{row['user']}}" style="display: flex; align-items: center;">
                <img src="{{ url_for('static', filename='ProfilePictures/' + row['pfp']) }}" alt="Image" class="rounded-image-small">
                <span>{{row["user"]}}</span>
            </a>
        {% else %}
            <a href="/account" style="display: flex; align-items: center;">
                <img src="{{ url_for('static', filename='ProfilePictures/' + row['pfp']) }}" alt="Image" class="rounded-image-small">
                <span>{{row["user"]}}</span>
            </a>
        {% endif %}
        {% if row["album"] == "True" %} <!-- if album, redirect to view album page-->
          <a href="/viewalbum?id={{row['id']}}">
          <br>
        {% else %}
          <a href="/viewpost?id={{row['id']}}">
          <br>
        {% endif %}
          <img src="{{ url_for('static', filename='UploadedPhotos/' + row['filename']) }}" alt="Image" loading="lazy" class="scaled-image">
              <br><!-- get post/album image-->
              <br>
              {% if row['text']|length > 50 %} <!-- if text too long, shorten with ellipsis-->
                {{ row['text'][:50] }}...</a>
              {% else %}
                {{ row['text'] }}</a>
              {% endif %}
               <div class="map-container">
                {% if row["album"] != "True" %} <!-- create map-->
                <body>
                  <gmp-map center="{{row['lat']}},{{row['lng']}}" zoom="2" map-id="map">
                    <gmp-advanced-marker
                        position="{{row['lat']}},{{row['lng']}}"
                        title="Pin"
                    ></gmp-advanced-marker>
                </gmp-map>
                </body>
               {% endif %}
                </div>
  </div>
</div>
  {% endfor %}
{% endblock %}