{% extends 'base.html' %}
{% block content %}
<h1>Upload a Photo</h1>


<form method="POST" enctype="multipart/form-data">
    <div style="text-align: center;">
    <input class="linkbutton" type="file" name="photo" accept="image/*"><br><br>
    </div>
    <input type="submit" name="submit" value="Upload"><br>
    <h3>{{msg}}</h3>
    {% if posted %}

        <br>
        <h1 style="color: green;">Posted!</h1>
        <a href ='/viewpost?id={{prevpostid}}' class="linkbuttonsmall">View Post</a>
        <br>
    {% endif %}








{% endblock %}