{% extends 'base.html' %}
{% block content %}

<style>

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 20px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin: 20px;
    width: 500px;
}

.stattitle {
    padding: 10px;
    margin: 5px;
    width: 80px;
}
.hover:hover h4 {
        color: #7752E7;
    }

h4 {
    margin: 0;

}
p {
    margin: 5px 0;
}
</style>

<head>
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrLn37j2Aln7yh58GPY2AuQIDU3poAgrg&callback=console.debug&libraries=maps,marker&v=beta">
</script>
</head>



<br><br><img src="{{ url_for('static', filename='ProfilePictures/' + pfp) }}" alt="Image" class="rounded-image">

<h2>{{username}}'s account</h2>
<div class="container">
    <div class="stats">
        <div class="stattitle">
            <h4>{{postcount}}</h4>
            <p><h4>Posts</h4></p>
        </div>
        <div class="stattitle">
            <h4>{{albumcount}}</h4>
            <p><h4>Albums</h4></p>
        </div>
        <div class="stattitle">
            <div class="hover">
                <a href="/followerlist?id={{username}}">
                <h4>{{followercount}}</h4>
                <p><h4>Followers</h4></p></a>
            </div>
        </div>
        <div class="stattitle">
            <div class="hover">
                <a href="/followinglist?id={{username}}">
                <h4>{{followingcount}}</h4>
                <p><h4>Following</h4></p></a>
            </div>
        </div>
    </div>
</div>

{% if getprivacy == "public" or (getstatusclean == 2 and getprivacy == "private") %}
    <div class="text-container">
      <h4>{{desc}}</h4>
    </div>
  
  
  {% if age != "" %}
    <h4>Age: {{age}}</h4>
  {% endif %}

  {% if gender != None and gender != "None" %}
    <h4>Gender: {{gender}}</h4>
  {% endif %}

{% endif %}


<form method="POST">

  
    {% if getstatusclean == 0 and getprivacy == "private"%}
      <br>
      <input type="submit" value="Send friend request" name="send">
    {% elif getstatusclean == 1 %}
      <br>
      <input type="submit" value="Cancel friend request" name="cancel">
    {% elif getstatusclean == 2 %}
      <br>
      <input type="submit" value="Remove friend" name="remove">
    {% elif getprivacy == "public" and getstatusclean == 0 %}
      <br>
      <input type="submit" value="Add friend" name="add">

    {% endif %}

  
  
</form>
{% if getprivacy == "public" or (getstatusclean == 2 and getprivacy == "private") %}

  <div class="image-grid">
  {% for row in rows %}
  <div class="image-item">
    <div class="image-title">
  

        <a href="/viewaccount?id={{row['user']}}" style="display: flex; align-items: center;">
            <img src="{{ url_for('static', filename='ProfilePictures/' + row['pfp']) }}" alt="Image" class="rounded-image-small">
            <span>{{row["user"]}}</span>
        </a>

    {% if row["album"] == "True" %}
      <a href="/viewalbum?id={{row['id']}}">
      <br>
    {% else %}
      <a href="/viewpost?id={{row['id']}}">
      <br>
    {% endif %}

        <img src="{{ url_for('static', filename='UploadedPhotos/' + row['filename']) }}" alt="Image" loading="lazy" class="scaled-image">
            <br>
            <br>
            {% if row['text']|length > 50 %}
              {{ row['text'][:50] }}...</a>
            {% else %}
              {{ row['text'] }}</a>
            {% endif %}
          
          


      
            <div class="map-container">
            {% if row["album"] != "True" %}


              <body>
                <gmp-map center="{{row['lat']}},{{row['lng']}}" zoom="2" map-id="map">
                    <gmp-advanced-marker
                        position="{{row['lat']}},{{row['lng']}}"
                        title="Pin"
                    ></gmp-advanced-marker>
                </gmp-map>
              </body>
                {% endif %}
              </div>







        
        
     
  </div>
</div>
  {% endfor %}
{% endif %}



{% endblock %}